<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qinghuanet.mapper.DistrictMapper">

    <resultMap id="districtMap" type="District">
        <association property="city" javaType="City" column="cid" select="com.qinghuanet.mapper.CityMapper.findById"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="districtMap">
        select * from district where id = #{id}
    </select>

    <select id="findByCityId" parameterType="int" resultMap="districtMap">
        select * from district where cid = #{cityId}
    </select>
</mapper>